@media (max-width:992px) {
    .banner-one {
        min-height: 650px;
        padding-top: 225px;
    }
    .banner-two {
        min-height: 650px;
        padding-top: 225px;
    }
    .banner-three {
        min-height: 650px;
        padding-top: 225px;
    }

    .slider-img {
        height: 250px;
      }

      #collapsibleNavId {
        max-height: 450px;
        overflow-y: auto;
      }

.dropdown .navdrop-menu {
    background: transparent;
    display: block;
    border: none !important;
}

.dropdown .navdrop-menu .dropdown-item {
    color: white;
}

.dropdown .navdrop-menu .dropdown-item:hover {
    background: none;
    color: #f8dd70;
}

.dropdown .drop-link .fa-angle-down {
  transform: rotate(270deg);
}

.dropdown:hover .drop-link .fa-angle-down {
    transform: rotate(270deg);
    margin-left: 2px;
}

.other-banners {
    min-height: 360px;
    padding-top: 170px;
}
}

@media (max-width:480px) {
    .banner-one {
        min-height: 650px;
        padding-top: 195px;
    }
    .banner-two {
        min-height: 650px;
        padding-top: 195px;
    }
    .banner-three {
        min-height: 650px;
        padding-top: 195px;
    }

    .banner-head {
        font-size: 40px;
    }

    .banner-text {
        font-size: 18px;
    }

    .header-text {
        font-size: 30px;
    }

    .subheader_text {
        font-size: 24px;
    }

    .my-slider .slider-arrow {
        display: block;
    }

    .slider-img {
        height: 220px;
      }
    
      .other-banners h5 {
        font-size: 15px;
      }
}

@media only screen and (max-width: 7680px) and (min-width: 1000px)  {
    .cat-img {
        min-height: 360px;
    }
}