@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Lobster&family=Lobster+Two&family=Quicksand:wght@400;500;600;700&family=Raleway:ital,wght@0,500;0,600;1,400&family=Rubik+Moonrocks&family=Source+Code+Pro:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

html,body {
    max-width: 100%;
    overflow-x: hidden;
}

body p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}

.site-header {
  background: #cfa74f;
}

.head-info a {
   color: white;
   text-decoration: none;
   font-family: 'Barlow', sans-serif;
   font-size: 15px;
}

.head-info .divider {
    color: white;
}

.site-header .marquee {
    font-size: 15px;
    color: #243151;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background: #243151 !important;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

.toggle-btn {
    color: #f8dd70;
    border: none;
    font-size: 22px;
}

.toggle-btn:focus {
    box-shadow: none;
}

.img-logo {
    width: 100px;
}

#collapsibleNavId .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

#collapsibleNavId .navbar-nav .nav-item .nav-link:hover {
  color: #f8dd70;
}

#collapsibleNavId .navbar-nav .nav-item.active .nav-link {
    color: #f8dd70;
}

.social-links a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 16px;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
}

.btn-login {
    color: white;
    background: #cfa74f;
    border-radius: 0px;
    margin-right: 10px;
    border: 1px solid white;
}

.btn-login:hover {
    color: #cfa74f;
    background: white;
}

.btn-register {
    color: #cfa74f;
    background: white;
    border-radius: 0px;
    border: 1px solid white;
}

.btn-register:hover {
    color: white;
    background: #cfa74f;
}

.dropdown:hover .navdrop-menu {display: block;}

.dropdown:hover .drop-link .fa-angle-down {
  transform: rotate(180deg);
  transition: all .25s ease-out;
}

.cart-link {
    position: relative;
}

.cart-link i{
    color: white;
    font-size: 20px;
}

.cart-link .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background: #cfa74f;
    color: #243151;
    font-size: 10px;
    margin-top: -8px;
    margin-right: -8px;
}

.banner-one {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/tims-banner-1.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    padding-top: 100px;
}

.banner-two {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/tivis-ban-2.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    padding-top: 100px;
}

.banner-three {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/tivis-banner-3.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    padding-top: 100px;
}

/* .banner-area {
    background: #04284d;
    padding: 30px;
} */

.banner-head {
    font-family: 'Rubik Moonrocks', cursive;
    color: #f8dd70;
    font-size: 45px;
}

.banner-text {
    font-family: 'Quicksand', sans-serif;
    margin-top: 15px;
}

.btn-banner {
    color: #f8dd70;
    background: #243151;
    border: 2px solid #f8dd70;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
}

.btn-banner:hover {
    color: #f8dd70;
    background: transparent;
    border: 2px solid #f8dd70;
}

.fade-banner .carousel-arrow {
    border: 0;
    background: transparent;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .fade-banner:hover .carousel-arrow {
    display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .fade-banner .carousel-arrow.next {
    right: 0;
  }

  .my-slider .slider-arrow {
    border: 0;
    background: #cfa74f;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .my-slider:hover .slider-arrow {
    display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .my-slider .slider-arrow.next {
    right: 0;
  }

  .slider-dots {
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .slider-dots li {
    display: inline-block;
    margin: 0 8px;
  }
  
  .slider-dots li > button {
    width: 20px;
    height: 20px;
    border: 3px solid #f8dd70;
    background: transparent;
    color: transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  
  .slider-dots li.slick-active > button {
    background: #f8dd70;
  }

  .myslider-dots {
    list-style: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  
  .myslider-dots li {
    display: inline-block;
    margin: 0 8px;
  }
  
  .myslider-dots li > button {
    width: 20px;
    height: 20px;
    border: 3px solid #cfa74f;
    background: transparent;
    color: transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  
  .myslider-dots li.slick-active > button {
    background: #cfa74f;
  }

  .header_text {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: #243151;
    font-size: 40px;
  }

  .subheader_text {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #cfa74f;
    font-size: 28px;
  }

  .text-blue {
    color: #243151;
  }

  .text-gold {
    color: #cfa74f;
  }

  .raleway-text {
    font-family: 'Raleway', sans-serif;
  }

  .barlow-text {
    font-family: 'Barlow', sans-serif;
  }

  .lobster-text {
    font-family: 'Lobster', cursive;
  }

  .lobstertwo-text {
    font-family: 'Lobster Two', cursive;
  }
  
  .img-responsive {
    width: 100%;
    height: auto;
  }

  .btn-more {
    color: #f8dd70;
    background: #243151;
    border-radius: 0px;
    border: 2px solid #243151;
    font-weight: bold;
    font-size: 18px;
  }

  .btn-more:hover {
    color: #243151;
    background: white;
  }

  .other_head_text {
    color: #243151;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
  }

  .blue-bot {
    width: 50px;
    height: 3px;
    background: #243151;
  }

  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }

  .content:hover .content-image {
    transform: scale(1.2);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }

  .slider-area {
    width: 95%;
  }

  .slider-img {
    height: 300px;
  }

  .contact-bg {
    background: #19191a;
  }

  .embed-responsive {
    height: 100%;
    min-height: 500px;
  }

  .gold-bot {
    width: 50px;
    height: 3px;
    background: #cfa74f;
  }

  .contact-label {
    color: white;
    font-size: 17px;
  }

  .contact-control {
    border-radius: 0px;
    background: transparent;
    border: 2px solid white;
    font-family: 'Raleway', sans-serif;
  }

  .contact-control:focus {
    box-shadow: none;
    color: #f8dd70;
    border: 2px solid #f8dd70;
    background: transparent;
  }

  .btn-contact {
    color: #f8dd70 !important;
    background: #243151;
    border: 2px solid #f8dd70 !important;
    border-radius: 0px;
    font-size: 16px;
  }

  .btn-contact:hover {
    background: transparent;
  }

  .contact-info-area .contact-list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 10px;
  }

  .contact-info-area .contact-list li {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.2em;
    font-family: 'Quicksand', sans-serif;
  }

  .contact-info-area .contact-list li .list-head {
    color: #cfa74f;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  }

  .jewelry-back {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(../img/jewelry-back.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px;
    margin-top: 70px;
    padding-top: 70px;
  }

  .white-bot {
    width: 50px;
    height: 3px;
    background: white;
  }

  .btn-extra {
    color: white;
    background: transparent;
    border: 2px solid white;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 600;
  }

  .btn-extra:hover {
    color: white;
    border: 2px solid white;
    background: #cfa74f;
  }

  .marquee-wrapper{
    text-align:center;
  }
  .marquee-wrapper .container{
    overflow:hidden;
  }
  .marquee-inner span{
    float:left;
    width:50%;
  }
  .marquee-wrapper .marquee-block{
    --total-marquee-items:6;
    height: 200px;
    width: calc(250px * (var(--total-marquee-items)));
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
  }
  .marquee-inner{
    display: block;
    width: 200%;
    position: absolute;
  }
  .marquee-inner p{
    font-weight: 800;
    font-size: 30px;
    font-family: cursive;
  }
  .marquee-inner.to-left{
    animation: marqueeLeft 25s linear infinite;
  }
  .marquee-inner.to-right{
    animation: marqueeRight 25s linear infinite;
  }
  .marquee-item{
    width: 230px;
    height: auto;
    display: inline-block;
    margin: 0 10px;
    float: left;
    transition: all .2s ease-out;
  }
  @keyframes marqueeLeft{
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @keyframes marqueeRight{
    0% { 
      left: -100%; 
    }
    100% {
     left: 0; 
    }
  }

  .footer-area {
    background: #19191a;
    padding-top: 30px;
  }

  .foot-text {
    font-size: 15px;
  }

  .foot-list {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .foot-list li {
    line-height: 2em;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
  }

  .foot-list li a {
    color: white;
    text-decoration: none;
  }

  .foot-list li a:hover {
    color: #cfa74f;
  }

  .news-control {
    background: transparent;
    border-radius: 0px;
    border: 1px solid #f8dd70;
  }

  .news-control:focus {
    background: transparent;
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }

  .btn-news {
    color: #f8dd70;
    border: 1px solid #f8dd70 !important;
    border-radius: 0px;
  }

  .btn-news:hover {
    background: #f8dd70;
    color: white;
  }

  .foot-last-area {
    border-top: 1px solid #cfa74f;
    background: #111111;
  }

  .copyright-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
  }

  .foot-social a{
    color: white;
    text-decoration: none;
  }

  .foot-social a:hover{
    color: #cfa74f;
  }
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #243151;
    color: white;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #cfa74f;
  }

  .other-banners {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/tivis-ban-1.jpg) no-repeat center;
    background-size: cover;
    min-height: 300px;
    padding-top: 80px;
  }

  .other-banners .oth-banner-text {
    color: #f8dd70;
    font-family: 'Barlow', sans-serif;
  }

  .oth-bot {
    width: 50px;
    height: 3px;
    background: #f8dd70;
  }

  .text-golder {
    color: #f8dd70;
  }

  .value-head {
    font-size: 17px;
    line-height: 1.6em;
    margin-top: 10px;
    font-weight: 600;
  }

  .values-area h4 {
    color: #cfa74f;
    font-family: 'Lobster Two', cursive;
    font-weight: 600;
  }

  .values-area p {
    font-size: 17px;
    font-family: 'Barlow', sans-serif;
  }

  .product-aside h3 {
    color: #243151;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
  }

  .cat-list {
    background: #243151;
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 20px;
  }

  .cat-list li {
    border-bottom: 1px solid #f8dd70;
    padding: 8px 0px 8px 0px;
  }

  .cat-list li:nth-child(4) {
    border-bottom: none;
  }

  .cat-list li a {
    text-decoration: none;
    color: #f8dd70;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 17px;
  }

  .cat-list li.active {
    background: #cfa74f;
  }

  .cat-list li.active a {
    color: white;
  }
